body {
  margin: 20px 40px;
}

.job {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-style: double;
  margin: 10px 0;
  padding: 20px 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
